{% extends './base.html' %}



{% block container %}
<div class="jumbotron">
    <h1 class="display-4">{{post.title}}</h1>
    <p class="lead">{{post.body}}</p>
   
  </div>
{% for each in comments %}
<div class="media g-mb-30 media-comment">
    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
      <div class="g-mb-15">
        <h5 class="h5 g-color-gray-dark-v1 mb-0">{{each.name}}</h5>
        <span class="g-color-gray-dark-v4 g-font-size-12">{{each.email}}</span>
      </div>

      <p>{{each.body}}</p>

    </div>
</div>
{% endfor %}


{% endblock %}

{% load static %}
{% block javascripcontainer %}

{% endblock %}




